* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #820000;
  --accent-color: #00b1f6;
  --accent-darker: #005475;
  --background-color: #fff;
}

.full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

/* Navigation */
.navigation {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar {
  min-height: 15px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  padding: 15px 10px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.nav-item-container ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlogo a {
  color: black;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  border: 3px solid black;
  transition: all 0.7s;
  padding: 0 5px;
}

.navlogo a:hover {
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

.nav-menu {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-link {
  transition: 0.7s ease;
  font-size: 13px;
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--main-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-button-container button {
  height: 2.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.nav-button {
  width: 7rem;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background: var(--main-color);
  color: #fff;
  transition: all 0.7s;
}

.nav-button:hover {
  border: 1px solid var(--main-color);
  background: #fff;
  color: var(--main-color);
}
/* Navigation - End */
/* Main */
/* Top Container */
.top-container {
  min-height: 50rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.289) 95%),
    url(../images/top-main.jpg);
  background-position: center;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.marvel {
  color: #fff;
  font-size: 10rem;
  font-weight: bold;
  border: 6px solid #fff;
  padding: 0 10px;
}

/* Card Container One */
.card-one {
  height: 35rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgb(186, 186, 186);
  cursor: pointer;
  transition: 0.7s all;
}

.card-one:hover {
  transform: translateY(-15px);
}

.card-cont-one-inner {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 4rem 0;
  flex-wrap: wrap;
}

.card-one-image-container {
  height: 70%;
}

#card-one-one {
  background: url(../images/card-container-one/cardone.png);
  background-position: center;
  background-size: cover;
}

#card-one-two {
  background: url(../images/card-container-one/cardtwo.jpg);
  background-position: center;
  background-size: cover;
}

#card-one-three {
  background: url(../images/card-container-one/cardthree.jpg);
  background-position: center;
  background-size: cover;
}

#card-one-four {
  background: url(../images/card-container-one/cardfour.jpg);
  background-position: center;
  background-size: cover;
}

.card-one-text-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
}

.card-one-text-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-one-text-container p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 0.8rem;
}

.card-one-text-container h2 {
  font-weight: bold;
  font-size: 1rem;
}

.card-one-button {
  width: 8rem;
  height: 3rem;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: 0.7s all;
}

.card-one-button:hover {
  background: var(--main-color);
  color: #fff;
  border: var(--main-color);
}

/* Video Container */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  justify-content: center;
  align-items: center;
}

.video-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  min-height: fit-content;
}

.video-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  width: 50%;
}

.video-container-right h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--main-color);
}

.video-container-right h2 {
  font-size: 1.8rem;
  font-weight: bolder;
}

.video-container-right p {
  font-size: 1.2rem;
}

/* Card container two */
.card-container-two {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 5rem;
}
.card-cont-two-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.card-two {
  width: 20rem;
  height: 18rem;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 2px 4px 4px rgb(186, 186, 186);
}
.card-two:hover {
  transform: translateY(-15px);
}

.card-cont-two-img {
  max-width: 100%;
}

.card-two-bot {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.5rem;
}

.card-two-bot p {
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 15px;
}

.card-two-bot h2 {
  font-weight: bold;
}

.card-two-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.289);
  display: none;
  justify-content: center;
  align-items: center;
}

.card-two-modal-inner {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
}

.modal-close-button {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  padding: 2rem;
  color: white;
}

.modal-close-button i {
  cursor: pointer;
  transition: all 0.5s;
}
.modal-close-button i:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

.modal-video-container {
  display: flex;
}

/* Slider */
.card-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-width: 100%;
  padding: 5rem 5rem;
  gap: 3rem;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-header {
  width: 100%;
  text-align: left;
  font-size: 2.4rem;
  font-weight: bold;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s !important;
}

.swiper-slide-bot a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
}

.swiper-slide-bot a:hover {
  color: #b60000;
}

/* Full Swiper */

.full-swiper {
  width: 100%;
  height: 45rem;
  overflow: hidden;
  min-height: fit-content;
}

.mySwiperFull {
  min-height: 13rem;
  background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.289) 95%),
    url(../images/fullswiper/fullbk.jpg);
}

.swiper-full-slide {
  background: transparent;
  display: flex;
  flex-direction: row;
}

.swiper-full-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  align-items: flex-end;
  text-align: end;
  color: #fff;
  text-shadow: 0 0 4px #fff;
}

.swiper-full-right {
  height: 100%;
}

.swiper-full-right img {
  height: 45rem;
  object-position: center;
}

.swiper-full-top {
  font-size: 12px;
}

.swiper-full-header {
  font-size: 25px;
  font-weight: bold;
}

.swiper-full-paragraph {
  width: 70%;
  font-size: 15px;
}

.swiper-full-button {
  width: 7rem;
  height: 2rem;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  color: #fff;
  background: #b60000;
  box-shadow: 0 0 12px #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.swiper-full-button:hover {
  background: #fff;
  color: #b60000;
  transform: scale(1.2) translateY(-5px);
}

#fullswtwo {
  flex-direction: row-reverse;
}

#fullswtoleft {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

/* Slider End */

/* News */
.news {
  padding: 3rem 5rem;
}

.news-card {
  width: 30rem;
}

.news-card-text-top h2 {
  font-size: 2rem;
}

.news-card-button {
  width: 18rem !important;
}

#news-card-one {
  background: url(../images/news/strange.jpg);
  background-size: cover;
  background-position: center;
}
#news-card-two {
  background: url(../images/news/ben.jpg);
  background-size: cover;
  background-position: center;
}
#news-card-three {
  background: url(../images/news/deadpool.webp);
  background-size: cover;
  background-position: center;
}

/* Join */

.join {
  background: linear-gradient(45deg, #960037 50%, #c40000);
}

.join-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}

.join-left h2 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.6rem;
  color: #fff;
  text-shadow: 0 0 16px #fff;
}

.join-left button {
  width: 12rem;
  height: 3rem;
  border-radius: 50px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.join-left button:hover {
  transform: translateY(-10px);
  background: #fff;
  color: #4a0039;
}

.join-left p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 16px #fff;
}

.join-right img {
  height: 40rem;
}

/* Footer */
footer {
  padding: 2rem;
  background: black;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-logo a {
  color: #fff !important;
  border: 3px solid #fff;
  font-size: 4rem;
}

.footer-logo a:hover {
  transform: none;
  border: 3px solid #fff;
}

.footer-links ul li a {
  color: #fff;
  font-size: 1.2rem;
}

.footer-trademark {
  color: #fff;
}

/* Characters */
#myCharactersFull {
  background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.289) 95%),
    url(../images/characters/chbk.jpg);
  background-size: contain;
}
#charactersTopRight {
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characters-full-slide {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.character-slide-right {
  text-align: start;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.character-slide-left img {
  height: 40rem;
}

.characters-top {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
}

.characters-header {
  color: #fff;
  text-shadow: 0 0 4px #fff;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 5px;
}

.characters-paragraph {
  color: #fff;
  width: 80%;
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
}

.characters-button {
  width: 8rem;
  height: 2rem;
  border-radius: 0px;
  border: none;
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.characters-button:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 10px #fff;
}

/* Verse Section*/
.verse-section {
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
}

.verse-container-hold {
  display: flex;
  gap: 1rem;
}

.verse-header {
  margin-bottom: 2rem;
}

.verse_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.versebox_container_top {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}
.versebox_container_bot {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.versebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  gap: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.verseboxtop {
  height: 10rem;
  width: 10rem;
}

.verseboxtop img {
  width: 100%;
  height: 100%;
}

.verse-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.verse-right-box-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.verse-right-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.verse-right-header h2 {
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}

.verse-right-header p {
  font-size: 0.6rem;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: underline;
}

.verse-right-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.verse-right-box h2 {
  font-size: 0.9rem;
  font-weight: bold;
}

.verse-date {
  font-size: 0.7rem;
  font-weight: bold;
}

.verse-right-box p {
  color: rgb(62, 62, 62);
  font-size: 0.8rem;
}

/* Merch */
.merch {
  background: linear-gradient(45deg, #9e0000, #d60000);
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8rem;
}

.merchbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.merchbox i {
  font-size: 2.5rem;
}

.merchbox p {
  font-size: 1.1rem;
}

.verse-header {
  color: var(--main-color);
}

/* Who */
.who {
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
  flex-direction: column;
}

.who-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.who-box-holder {
  display: flex;
  flex-wrap: wrap;
}

.who-box {
  cursor: pointer;
  height: 25rem;
  width: 12rem;
  border: 1px solid black;
}

.who-box-inner {
  width: 12rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.332),
    rgba(255, 255, 255, 0.332)
  );
  cursor: pointer;
  display: none;
}

/* Character Modals */
/* .character-modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  border: 2px solid purple;
}

.character-modal-left {
  border: 2 px solid red;
  width: 50%;
  height: 50%;
} */

/* Character Modal End */

#whoInnerOne {
  display: none;
}

.who-box-inner p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-color);
  text-shadow: 0 0 15px var(--main-color);
}

.who-header {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--main-color);
}

.who-header span {
  font-size: 3rem;
}

/* who boxes */
#whoOne {
  background: url(../images/characters/who/iron.webp);
  background-position: center;
  background-size: cover;
}
#whoTwo {
  background: url(../images/characters/who/captwo.webp);
  background-position: center;
  background-size: cover;
}
#whoThree {
  background: url(../images/characters/who/thortwo.jpg);
  background-position: center;
  background-size: cover;
}
#whoFour {
  background: url(../images/characters/who/hulktwo.jpg);
  background-position: center;
  background-size: cover;
}
#whoFive {
  background: url(../images/characters/who/widow.jpg);
  background-position: center;
  background-size: cover;
}
#whoSix {
  background: url(../images/characters/who/hawk.webp);
  background-position: center;
  background-size: cover;
}

/* Browse */
.browse {
  padding: 5rem 15rem;
}

.browse-card-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.browse-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  height: 400px;
}

.browse-card-top {
  height: 350px;
}

.browse-card-bot {
  display: flex;
  justify-content: center;
}

.browse-card-bot p {
  font-size: 1.3rem;
  font-weight: bold;
}

.browse-button-holder {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.browse-button-holder button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: none;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 50px;
}

.browse-button-active {
  color: #fff !important;
  background: var(--main-color) !important;
  box-shadow: 0 0 10px var(--main-color);
}

.browse-card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#browseCardHolderTwo {
  display: none;
}

/* Characters Footer */
#charactersFooter {
  background: #fff;
  display: flex;
  padding: 0;
  flex-direction: column;
}

.footer-inner-bottom {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 38, 38);
}

.footer-bot-right {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
}

.footer-bot-right i {
  cursor: pointer;
  transition: all 0.4s;
}

.footer-link-icon {
  color: #fff;
}

.footer-bot-right i:hover {
  color: var(--main-color) !important;
}

.characters-footer-inner {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
      rgba(38, 38, 38, 0.46),
      rgba(38, 38, 38, 0.46) 95%
    ),
    url(../images/characters/charfoottwo.jpg);
  background-size: cover;
  background-position: top;
  height: 25rem;
  padding: 4rem;
}

.footer-bot-left button {
  width: 10rem;
  height: 3rem;
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.characters-footer-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.character-footer-left-top {
  display: flex;
  gap: 2rem;
}
.characters-footer-right {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footerlogo a {
  font-size: 5rem !important;
}
.character-footer-header {
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
}
.character-footer-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.character-footer-col ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.character-footer-col ul li a {
  color: rgb(210, 210, 210);
  font-weight: bold;
  font-size: 0.8rem;
}
.character-footer-left-bot p {
  color: #fff;
  font-weight: bold;
}
.character-footer-left-bot a {
  color: var(--main-color);
  font-weight: bold;
}
.footerlogo a {
  color: #fff;
  border: 3px solid #fff;
}

/* Comics */

.comics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.com-top-sec-buttons {
  display: flex;
  gap: 3rem;
}

.com-top-sec-buttons button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.comics-btn-active {
  color: var(--main-color) !important;
  text-shadow: 0 0 10px var(--main-color);
}

.com-top-sec-header {
  background: var(--main-color);
  width: 35rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-top-sec-header h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}

.comic-carousel {
  background: rgb(22, 22, 22);
}

.comic-slide {
  background: transparent;
  width: 20rem !important;
  height: 40rem !important;
}

.comic-slide-bot {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.comic-slide-bot a {
  color: #fff;
  font-size: 0.8rem;
}

.comic-slide-bot span {
  color: var(--main-color);
}

#lastWeekSection {
  display: none;
}

#upcomingSection {
  display: none;
}

.comic-slide-top img{
  object-fit: cover;
}

@media (max-width: 1400px) {
  /* Navigation */
  .navbar {
    padding: 20px 10px;
    background-color: #fff;
    z-index: 100;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: -1000px;
    gap: 0;
    flex-direction: column;
    background: #fff;
    max-width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    width: 100%;
  }

  .nav-button-container {
    flex-direction: column;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-item {
    margin: 4px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .nav-item a {
    color: black;
  }

  .nav-item-container {
    padding-bottom: 1rem;
  }

  .nav-menu.active {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  }
  .navlogo a {
    font-size: 2rem;
  }

  /* Main */
  /* Top Contianer */
  .marvel {
    font-size: 5rem;
  }
  /* First Card Container */
  .card-cont-one-inner {
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  /* .card-one {
    width: 50%;
  } */
  .card-one-image-container {
    background-position: center !important;
    background-size: cover !important;
  }

  /* Video Container */
  .video-container {
    padding: 2rem;
  }
  .video-container-inner {
    flex-direction: column-reverse;
  }
  .video-container-right {
    text-align: center;
    width: 100%;
  }
  .video-container-right h3 {
    font-size: 1.2rem;
    color: var(--main-color);
  }

  /* carousel */
  .card-carousel {
    padding: 3rem 0;
  }
  .section-header {
    text-align: center;
  }

  .who-box-holder {
    justify-content: center;
  }

  .comics-swiper-slide-inner {
    height: 25rem;
    width: 15rem;
  }
}

@media (max-width: 980px) {
  .verse-section {
    flex-direction: column;
    padding: 0;
  }
  .verse-container-hold {
    flex-direction: column-reverse;
  }
  .versebox_container_top {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .versebox_container_top {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .versebox_container_bot {
    display: none;
  }
  .verse-right {
    text-align: center;
    padding: 1rem;
  }
  .verse-right-header {
    justify-content: space-evenly;
  }
  .merch-inner {
    padding: 0.5rem;
    width: 100%;
    gap: 1rem;
  }
  .merchbox {
    width: 100%;
    flex-direction: column;
  }
  .merchbox i {
    font-size: 1.2rem;
  }
  .merchbox p {
    font-size: 0.6rem;
  }
  .merch {
    margin: 5rem 0;
  }
  .verse-inner {
    margin-top: 5rem;
  }
  .verse-right-header {
    flex-direction: column;
  }
  .verse-header {
    font-size: 2rem;
  }
  .verse-right-header h2 {
    font-size: 1rem;
  }
  .navlogo a {
    font-size: 1rem;
  }
  .marvel h2 {
    font-size: 3rem;
  }
  .swiper-full-slide {
    flex-direction: column !important;
    height: fit-content !important;
  }
  .swiper-full-paragraph {
    display: none;
  }
  .swiper-full-right img {
    height: 90%;
  }
  .swiper-full-left {
    padding: 2rem 0;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .join-inner {
    flex-direction: column;
  }

  .join-inner img {
    width: 100%;
    height: 30rem;
  }

  .footer-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-links ul li a {
    color: #fff;
    font-size: 0.8rem;
  }

  .join-left p {
    display: none;
  }

  .join-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .footer-trademark p {
    text-align: center;
    font-size: 0.6rem;
  }

  .join-left h2 {
    font-size: 1rem;
    text-align: center;
  }

  .browse {
    padding: 5rem 0;
  }

  .browse-card {
    width: 40%;
  }

  /* Characters Footer */
  .characters-footer-inner {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .footer-inner-bottom {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .footerlogo a {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 700px) {
  /* characters */
  .characters-full-slide {
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    padding: 10%;
  }
  #charactersFullParagraph {
    display: none;
  }
  .characters-full-left {
    width: 100%;
  }
  .characters-full-button {
    display: none;
  }
  .character-slide-left {
    height: 60%;
  }
  .character-slide-left img {
    height: 100%;
  }
  .characters-paragraph {
    display: none;
  }
  .characters-header {
    font-size: 2rem;
  }
  .character-slide-right {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .who-inner {
    width: 100%;
  }
  .who-box-holder {
    width: 100%;
  }
  .who-box {
    width: 100%;
    height: 8rem;
    background-size: cover !important;
    background-position: center !important;
  }
}
/* Navigation - End */
